html{

	min-height:100%;
	background-image: url('assets/crowd2.jpeg');
	background-size:cover;
	font-family:"courier";
}

html,body{

	margin:0;
}

#container {

	margin-top:20vh;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	
}

.playing {

	transform:scale(1.1);
	border-color:#ffff64;

}

a{

	margin-top:10vh;
	width:100%;
	font-size:50px;
	color:#ffff64;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;

}

.keys {

	border: 4px solid #ffff64;
	border-radius:5px;
	margin:1rem;
	width:100px;
	font-size:1.5rem;
	padding:1rem .5rem;
	background: rgba(0,0,0,0.9);
	text-align: center;
	color:#ffff64;
	transition:all 0.07s;

}

@media only screen and (max-width: 812px) {

  #container{
  	margin:10vh;
  }
  a{
  	margin-top:5vh;
  }
}

@media only screen and (max-width: 482px) {

  .keys {
  	width:50px;
  	font-size:0.75rem;
  }
  #container{
  	margin:5vh;
  }
  img{
  	width:100%;
  	height:auto;
  	max-height: 20vh;
  }
}

@media only screen and (max-height: 750px) {
  .keys {
  	width:50px;
  	font-size:0.75rem;
  }
  #container{
  	margin:5vh;
  }
  img{
  	width:auto;
  	height:100%;
  	max-height: 20vh;
  }
}

